<div class="container">

<h2 class="titulo">Transferências</h2>
  <div class="novo">
    <style>
      .novo{
        color: white;
      }
    </style>

    <table class="tabela" >
      <thead class="tabela__cabecalho">
        <th class="tabela__cabecalho__conteudo">DATA: </th>
        <th class="tabela__cabecalho__conteudo">Valor: </th>
        <th class="tabela__cabecalho__conteudo">Destino: </th>
      </thead>
      <tbody *ngIf="transferencias.length>0; else listavazia">
        <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
          <td class="tabela__conteudo"> {{transferencia.data | date: 'short'}} </td>
          <td class="tabela__conteudo"> {{transferencia.valor | currency: 'BRL'}} </td>
          <td class="tabela__conteudo"> {{transferencia.destino}} </td>
        </tr>
      </tbody>
    </table>
    <ng-template #listavazia>
      <p>ATENÇÃO: Nenhum dado foi informado, inseira os dados! </p>
    </ng-template>

  </div>
</div>
