header {
  background-color: var(--primary);
  padding: 10px;
  color: var(--detail);
  display: flex;
  justify-content: space-between;

  a {
    color: inherit;
    text-decoration: none;
  }

  .ativo {
    display: none;
  }
}

main {
  background-color: var(--background);
  padding: var(--padding);
}
